<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.capgemini.sensisapp"
        version   = "1.0.0">

    <name>Capgemini @ Sensis</name>

    <description>
        An application for Sensis Digital transformation journey
    </description>

    <author href="http://www.capgemini.com" email="john.moses@capgemini.com">
        Capgemini - Digital Transformation team
    </author>

    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="3.3.0" />
    <preference name="orientation" value="landscape" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
	<gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />


    <icon src="images/AppIcon.png" />
    <icon src="images/AppIcon.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="images/AppIcon.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="images/AppIcon.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="images/AppIcon.png"         gap:platform="ios"        width="144" height="144" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="images/SplashScreen.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="images/SplashScreen.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="images/SplashScreen.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="images/SplashScreen.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="images/SplashScreen.png"          gap:platform="ios"     width="1024" height="768" />

    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <access origin="*"/>
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

</widget>